<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- type에 지정된 some.package.name.ClassName을 alias에 지정된 이름으로 대체하는 설정 -->
	<typeAliases>
		<typeAlias type="com.shop.vo.Member" alias="Member"/>
		<typeAlias type="com.shop.vo.Question" alias="Question"/>
		<typeAlias type="com.shop.vo.QuestionFile" alias="QuestionFile"/>	
		<typeAlias type="com.shop.vo.QuestionComment" alias="QuestionComment" />	
		<typeAlias type="com.shop.vo.Product" alias="Product"/>
		<typeAlias type="com.shop.vo.ProductFile" alias="ProductFile"/>		
		<typeAlias type="com.shop.vo.Cart" alias="Cart"/>	
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://211.197.18.246:3306/house?serverTimezone=UTC" />
				<property name="username" value="shop" />
				<property name="password" value="goott" />
			</dataSource>
		</environment>		
	</environments>
	
	<!-- SQL + Object Mapping Configuration -->
	<mappers>
		<mapper resource="com/shop/mapper/question-mapper.xml" />
		<mapper resource="com/shop/mapper/member-mapper.xml" />
		<mapper resource="com/shop/mapper/shop-mapper.xml" />
		<mapper resource="com/shop/mapper/manager-mapper.xml" />
	</mappers>
	
</configuration>