<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.ShopMapper">
	
	<!-- insert가 완료된 후 keyColumn(resumeNo)의 값을 vo의 keyProperty(resumeNo)에 저장 -->
	<insert id="insertProduct" parameterType="Product"
			useGeneratedKeys="true" keyColumn="productNo" keyProperty="productNo">
		INSERT INTO product (title, price, count, content, category, productName, color, size)
		VALUES (#{ title }, #{ price }, #{ count }, #{ content }, #{ category }, #{ productName }, #{ color }, #{ size })
	</insert>
	
	<!-- insert가 완료된 후 selectKey의 SQL을 실행해서 vo의 resumeNo에 값을 저장 -->
	<insert id="insertProduct2" parameterType="Product">
		<selectKey keyProperty="productNo" order="AFTER" resultType="int">
			SELECT RESUME_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO product (title, price, count, content, category, productName, color, size)
		VALUES (#{ title }, #{ price }, #{ count }, #{ content }, #{ category }, #{ productName }, #{ color }, #{ size })
	</insert>
	
	<insert id="insertProductFile" parameterType="ProductFile">
		INSERT INTO productfile (
			fileName,
			productNo
		)
		VALUES (
	          #{ fileName }
			, #{ productNo }
		)
	</insert>
	
	<select id="selectProduct" resultType="Product">
		select * 
		from product
		order by productNo desc
	</select>
	
	<select id="selectProductFile" parameterType="int" resultType="ProductFile">
		select fileName
		from productfile
		where productNo = #{ productNo }
		limit 1
	</select>
	
</mapper>